// Culori
$primary-color: #0e0e0e;
$secondary-color: #e6e6e6;
$accent-color: #0000ee;
$tertiary-color: #ff9633;
$background-color: #ffffff;
$text-color: #333333;
$link-color: #0000ee;

// Culori pentru stări
$success-color: #2ecc71;
$error-color: #e74c3c;
$warning-color: #f39c12;
$info-color: #3498db;

// Spațiere
$small-spacing: 8px;
$medium-spacing: 16px;
$large-spacing: 32px;

// Fonturi
$primary-font: "Roboto", sans-serif;
$secondary-font: "Lato", sans-serif;

// Dimensiuni pentru fonturi
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 24px;

// Greutăți pentru fonturi
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-light: 300;

// Alte stiluri de text
$heading-font-size: 2rem;
$body-font-size: 1rem;
$line-height: 1.6;

// Adăugați sau modificați următoarele variabile
$border-color: #e5e7eb;

// Dimensiuni pentru butoane
$button-width: 150px;
$button-height: 40px; // Adăugăm această linie pentru înălțimea butonului

// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
$breakpoint-ylarge: 1024px;

// Adăugați această linie la sfârșitul fișierului, păstrând restul neschimbat
$code-font: "Courier New", Courier, monospace;

$button-border-radius: 10px;
