@import "../../styles/variables";
@import "../../styles/mixins";

.navbar {
  @include navbar-style;
  height: 60px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 $medium-spacing;
  }

  &__logo {
    font-size: $font-size-large;
    font-weight: bold;
  }

  &__actions {
    display: flex;
    align-items: center;
    height: 100%;
  }

  @include breakpoint(small) {
    // Ajustări pentru ecrane mici
  }

  @include breakpoint(medium) {
    // Ajustări pentru ecrane medii
  }

  @include breakpoint(large) {
    // Ajustări pentru ecrane mari
  }

  @include breakpoint(xlarge) {
    // Ajustări pentru ecrane foarte mari
  }

  @include breakpoint(ylarge) {
    // Ajustări pentru ecrane extra mari
  }
}
