@import "../../../styles/variables";
@import "../../../styles/mixins";

.note-contabile {
  padding: 20px;

  h1 {
    margin-bottom: 20px;
  }

  .py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
