@import "../../styles/variables";
@import "../../styles/mixins";

.data-table-container {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .action-buttons-container {
    position: absolute;
    top: -$large-spacing;
    right: 0;
    z-index: 3;
  }

  .data-grid-wrapper {
    flex-grow: 1;
    overflow: auto;

    @include scrollbar(8px, $secondary-color);
  }

  .MuiDataGrid-root {
    border: 2px solid $border-color;
    width: 100%;
    height: 100%;
  }

  .MuiDataGrid-columnHeaders {
    background-color: mix(white, $primary-color, 40%);
    color: $text-color;
    font-weight: $font-weight-bold;
    @include sticky-header;
    border-bottom: 3px solid $secondary-color;
  }

  .MuiDataGrid-cell {
    border-bottom: 1px solid $border-color;
  }

  .MuiDataGrid-columnHeaderTitle {
    font-weight: $font-weight-bold;
  }

  .MuiDataGrid-menuIcon {
    color: $accent-color;
  }

  .MuiDataGrid-footerContainer {
    border-top: 1px solid $border-color;
  }

  // Păstrăm doar hover-ul pentru rânduri
  .MuiDataGrid-row:hover {
    background-color: lighten($secondary-color, 5%);
  }

  .MuiDataGrid-toolbarContainer {
    padding: 0;
    position: relative;

    .MuiButtonBase-root {
      color: $accent-color;

      &:hover {
        background-color: rgba($accent-color, 0.1);
      }

      .MuiSvgIcon-root {
        fill: $accent-color;
      }
    }
  }

  .custom-toolbar {
    .toolbar-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 16px;
      border-bottom: 1px solid $border-color;
    }

    .toolbar-buttons {
      display: flex;
      gap: 16px;
    }

    .toolbar-title {
      font-weight: bold;
      color: $primary-color;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .quick-filter {
      .MuiInputBase-root {
        color: $accent-color;
        transition: all 0.3s ease;

        &::before {
          border-bottom: 1px solid $accent-color;
        }

        &:hover:not(.Mui-disabled)::before {
          border-bottom: 2px solid $accent-color;
        }

        &::after {
          border-bottom: 2px solid $accent-color;
        }
      }

      .MuiInputBase-input::placeholder {
        color: $accent-color;
        opacity: 0.7;
      }

      .MuiSvgIcon-root {
        color: $accent-color;
      }

      .MuiOutlinedInput-notchedOutline {
        border: none;
      }
    }
  }
}

// Stilurile pentru .action-buttons și .custom-tooltip au fost mutate în ActionButtons.scss
