@import "../../styles/variables";
@import "../../styles/mixins";

.data-table-container {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .action-buttons-container {
    position: absolute;
    top: -$large-spacing;
    right: 0;
    z-index: 3;
  }

  .data-grid-wrapper {
    flex-grow: 1;
    overflow: auto;

    @include scrollbar(8px, $secondary-color);
  }

  .MuiDataGrid-root {
    border: 2px solid $border-color;
    width: 100%;
    height: 100%;
  }

  .MuiDataGrid-columnHeaders {
    background-color: mix(white, $primary-color, 40%);
    color: $text-color;
    font-weight: $font-weight-bold;
    @include sticky-header;
  }

  .MuiDataGrid-cell {
    border-bottom: 1px solid $border-color;
  }

  .MuiDataGrid-columnHeaderTitle {
    font-weight: $font-weight-bold;
  }

  .MuiDataGrid-menuIcon {
    color: $accent-color;
  }

  .MuiDataGrid-footerContainer {
    border-top: 1px solid $border-color;
  }
}

// Stilurile pentru .action-buttons și .custom-tooltip au fost mutate în ActionButtons.scss
